@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFF;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: black;
  border: none;
  z-index: 0;
}

.button::before {
  content: "";
  position: absolute;
  height: 8px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -4px;
  background-color: rgba(255,225,127,1);
  z-index: -1;
}

.button:not(.services-current):hover,
.button:not(.services-current):active {
  background: #FFE17F;
}

.button:focus {
  outline: none;
}

.button:active span {
  opacity: 0.3;
}

.button:not(.services-current):focus::before {
  background-color: rgba(175,79,255,1);
}

.button:not(.services-current):active::before {
  background: none;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.section-title {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: black;
}

/* Header start */

.main-header {
  padding-top: 40px;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: #FFE17F;
  color: black;
}

.navigation-search {
  margin-right: auto;
  padding-left: 0;
}

.search-form {
  position: relative;
  width: 500px;
}

.search-input {
  margin-left: -16px;
  box-sizing: border-box;
  width: 516px;
  padding: 8px 0;
  background: none;
  border: 2px solid transparent;
  border-radius: 20px;
  padding-left: 52px;
  background-image: url("../img/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.search-button {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  width: 160px;
  right: 0;
  padding: 8px 0;
  margin: 0;
  background: none;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.search-input::placeholder {
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  opacity: 0.3;
}

.search-input:hover::placeholder {
  opacity: 0.6;
}

.search-input:focus {
  outline: none;
  border-color: #AF4FFF;
  border-radius: 20px;
}

.search-input:valid {
  width: 358px;
  border-radius: 20px 0 0 20px;
  border-color: black;
}

.search-input:valid + .search-button {
  visibility: visible;
  border-color: black;
}

.search-input:valid + .search-button:focus {
  outline: none;
  border-color: #AF4FFF;
}

.search-input:valid + .search-button:hover {
  color: white;
  background: black;
}

.search-input:valid + .search-button:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: black;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 14px 0 3px;
  font-size: 16px;
  line-height: 19px;
}

.navigation-user-item {
  position: relative;
}

.navigation-user-item:nth-child(3) {
  margin-left: auto;
  margin-right: 40px;
}

.navigation-user-link {
  display: block;
  padding: 10px 15px 10px 40px;
  margin-left: -20px;
  background-repeat: no-repeat;
  background-position: 20px center;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 20px;
}

.navigation-user-link:focus {
  outline: none;
  border-color: #AF4FFF;
}

.navigation-user-link:hover {
  opacity: 0.6;
  border-color: transparent;
}

.navigation-user-link:active {
  opacity: 0.3;
  border-color: transparent;
}

.logout {
  visibility: hidden;
}

.logout-link {
  opacity: 0.3;
  padding-left: 10px;
  margin-left: 1px;
}

.login {
  background-image: url("../img/icons/user-icon.svg");
}

.compare {
  background-image: url("../img/icons/compare-icon.svg");
}

.basket-link {
  position: relative;
  background-image: url("../img/icons/basket-icon.svg");
  margin-right: -15px;
}

.basket-count {
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  left: 5px;
}

.popover {
  position: absolute;
  background-color: black;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 1;
  display: none;
}

.open-popover {
  display: block;
}

.popover-basket {
  min-height: 90px;
  top: 45px;
  left: -150px;
}

.popover::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: 50%;
  transform: translate(-50%, -5px)  rotate(45deg);
  background-color: black;
}

.basket-item {
  display: flex;
  width: 280px;
  padding: 20px;
}

.basket-item + .basket-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.product-link {
  display: flex;
  width: 244px;
  color: white;
}

.product-link img {
  display: block;
  margin-right: 23px;
}

.product-link:hover {
  opacity: 0.6;
}

.product-link:focus {
  color: #AF4FFF;
  outline: none;
}

.product-link:focus img {
  outline: 5px solid #AF4FFF;
}

.product-link:active {
  opacity: 0.3;
  color: white;
}

.product-link:active img {
  outline: none;
}

.delete-btn {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: auto;
}

.delete-btn::before,
.delete-btn::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: white;
  top: 11.5px;
  left: 5px;
}

.delete-btn::before {
  transform: rotate(45deg);
}

.delete-btn::after {
  transform: rotate(-45deg);
}

.delete-btn:hover {
  opacity: 0.6;
}

.delete-btn:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 50%;
}

.delete-btn:active {
  opacity: 0.3;
  outline: none;
}

.basket-description {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  background-color: #1A1A1A;
}

.open-basket-wrapper {
  padding: 20px;
}

.open-basket-btn {
  display: block;
  padding: 15px 0;
  background-color: white;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.open-basket-btn:hover {
  background: #FFE17F;
}

.open-basket-btn:focus {
  outline: 5px solid #AF4FFF;
}

.open-basket-btn:active {
  outline: none;
  background: #FFE17F;
}

.open-basket-btn:active span {
  opacity: 0.3;
}

.navigation-logo {
  display: block;
  width: 145px;
  margin-left: 60px;
  margin-top: -23px;
}

.navigation-list, .navigation-user {
  padding: 0 60px;
}

.navigation-list, .footer-navigation {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation-list-main {
  padding-bottom: 135px;
}

.navigation-list-inner {
  padding-bottom: 20px;
}

.inner-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 500px;
}

.navigation-list-item:nth-child(3n) {
  max-width: 200px;
  margin-left: auto;
  margin-right: -27px;
  text-align: right;
}

.navigation-link {
  display: block;
  padding: 15px 0;
  margin-right: 20px;
}

.navigation-link:not(.catalog-link) {
  position: relative;
  padding: 14px 20px 15px 20px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
}

.navigation-link:not(.catalog-link)::before {
  content: "";
  position: absolute;
  left: 20px;
  right: 25px;
  bottom: 7px;
  height: 2px;
  background: transparent;
}

.navigation-link:not(.catalog-link):focus {
  outline: none;
  border-color: #AF4FFF;
}

.navigation-link:not(.catalog-link):hover::before {
  background: black;
}

.navigation-link:not(.catalog-link):active {
  opacity: 0.3;
  border-color: transparent;
}

.inner-navigation .navigation-link:first-child {
  margin-left: -22px;
  margin-right: 10px;
}

.navigation-list-item:nth-child(3n) .navigation-link {
  margin-right: 0;
}

.navigation-list-item:focus-within .dropdown-container {
  display: block;
}

.catalog-link-group {
  position: relative;
}

.catalog-link-group:hover {
  z-index: 1;
}

.catalog-link-group:hover .dropdown-container {
  display: block;
}

.catalog-link {
  display: flex;
  align-items: center;
  margin-left: -20px;
}

.catalog-link-title {
  padding: 14.5px 16px;
  margin-right: 0;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
}

.catalog-link-button {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid black;
  box-sizing: border-box;
  background-image: url("../img/icons/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.dropdown-container {
  display: none;
  position: absolute;
  width: 1160px;
  padding: 20px 0 58px 45px;
  box-sizing: border-box;
  background-color: #FFE17F;
  z-index: 1;
  left: -60px;
  top: 80px;
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: none;
}

.catalog-dropdown {
  display: grid;
  grid-template-columns: 225px 180px 200px;
  gap: 19px 16px;
}

.dropdown-open {
  display: block;
}

.dropdown-item:last-child {
  grid-column: 1 / 4;
}

.dropdown-link {
  padding: 3px 15px;
}

.dropdown-link:hover {
  opacity: 0.6;
}

.dropdown-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.dropdown-link:active {
  opacity: 0.3;
}

.catalog-link:focus {
  outline: none;
}

.catalog-link:focus .catalog-link-title {
  border-color: #AF4FFF;
}

.catalog-link:hover .catalog-link-title,
.catalog-link:active .catalog-link-title {
  border-color: transparent;
}

.catalog-link:hover .catalog-link-button {
  opacity: 1;
  background-image: url("../img/icons/minus-icon.svg");
}

.catalog-link:active {
  opacity: 0.3;
}

.catalog-link:active .catalog-link-button {
  opacity: 0.3;
  background-image: url("../img/icons/minus-icon.svg");
}

/* Header end */
/* Main page start */

.slider {
  position: relative;
  margin-top: -150px;
  margin-bottom: 60px;
}

.slide {
  display: flex;
  justify-content: space-between;
}

.slide-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.slide-content {
  margin-top: 0;
  margin-bottom: 35px;
}

.slide-link {
  display: block;
  width: 220px;
  padding: 15px 0;
  margin-bottom: 55px;
}

.slide-gallery {
  position: relative;
  width: 560px;
}

.slide-button {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 80px;
  top: 50%;
  padding: 0;
  margin: 0;
  margin-top: -40px;
  background: none;
  border: none;
}

.slide-button:hover {
  opacity: 0.6;
}

.slide-button:focus {
  outline: none;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 6px;
}

.slide-button:active {
  opacity: 0.3;
  border: none;
}

.gallery-prev {
  left: 0;
  background-image: url("../img/icons/slider-prev-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.gallery-next {
  right: 0;
  background-image: url("../img/icons/slider-next-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slide-description {
  width: 560px;
}

.slide-number {
  display: block;
  margin: 80px 50px 10px 0;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  color: #FFF;
}

.slide-features {
  display: flex;
}

.slide-feature {
  margin-right: 20px;
}

.feature-value b {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: black;
}

.feature-value {
  margin-top: 0;
  margin-bottom: 0;
}

.feature-title {
  font-size: 16px;
  margin: 0;
}

.slider-pagination {
  position: absolute;
  top: 364px;
  right: 61px;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  margin-right: 22px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.pagination-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0;
  background-color: white;
}

.pagination-current {
  background-color: black;
}

.pagination-button:not(.pagination-current):hover {
  opacity: 0.6;
}

.pagination-button:not(.pagination-current):focus {
  border-color: #AF4FFF;
  outline: none;
}

.pagination-button:not(.pagination-current):active {
  border-color: black;
  opacity: 0.3;
}

.categories {
  margin-bottom: 168px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.categories-list-item {
  width: 160px;
}

.categories-link {
 font-family: "Raleway", Helvetica, sans-serif;
 font-weight: 800;
 font-size: 18px;
 line-height: 24px;
 letter-spacing: -0.02em;
}

.category {
  width: 160px;
  height: 160px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: #FFE17F;
}

.category-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.categories-link:hover .category,
.categories-link:active .category {
  background-color: #FFC700;
}

.categories-link:focus {
  outline: none;
  color: #AF4FFF;
}

.categories-link:focus .category {
  outline: none;
  border: 5px solid #AF4FFF;
}

.categories-link:active {
  color: black;
  opacity: 0.3;
}

.categories-link:active .category {
  border: none;
}

.categories-link:active .category-icon {
  opacity: 0.3;
}

.vr {
  background-image: url("../img/categories-img/category-vr.svg");
}

.monopod {
  background-image: url("../img/categories-img/category-monopod.svg");
  background-position: bottom;
}

.camera {
  background-image: url("../img/categories-img/category-camera.svg");
}

.fitness {
  background-image: url("../img/categories-img/category-fitness.svg");
}

.smart-watch {
  background-image: url("../img/categories-img/category-smart-watch.svg");
}

.quadcopter {
  background-image: url("../img/categories-img/category-quadcopter.svg");
}

.services, .subscribe {
  background-color: #F0F0F0;
}

.services-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.services-pagination {
  width: 277px;
  border-right: 7px solid black;
  padding-top: 80px;
  margin-top: -96px;
  margin-bottom: 76px;
}

.services-pagination-item {
  width: 100%;
  text-align: start;
}

.services-button {
  cursor: pointer;
  width: 160px;
  text-align: center;
  padding: 9px 0;
  margin-bottom: 25px;
}

.services-current {
  width: 100%;
  padding-right: 110px;
  background-color: black;
  color: #FFE17F;
}

.services-current::before {
  background: none;
}

.services-button:not(.services-current):hover {
  background-color: #FFE17F;
}

.services-button:not(.services-current):focus::before {
  outline: none;
  background-color: rgba(175,79,255,1);
}

.services-button:focus {
  outline: none;
}

.services-button:not(.services-current):active::before {
  background: none;
}

.services-button:not(.services-current):active {
  width: 100%;
  padding-right: 130px;
  background-color: black;
  color: #FFE17F;
}

.services-items {
  display: grid;
  grid-template-columns: 1fr;
  width: 760px;
  padding-bottom: 60px;
  padding-top: 70px;
  margin-top: -105px;
  margin-bottom: 60px;
}

.services-item {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 10px 0 30px 0;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.services-title {
  margin-top: 0;
  margin-bottom: 33px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services-content {
  width: 500px;
  margin: 0;
}

.services-delivery {
  background-image: url("../img/services-img/service-delivery.svg");
}

.services-varranty {
  background-image: url("../img/services-img/service-warranty.svg");
}

.services-credit {
  background-image: url("../img/services-img/service-credit.svg");
}

.delivery {
  margin-bottom: 91px;
}

.delivery-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.29em;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: #F0F0F0;
  border: 5px solid white;
}

.delivery-icon {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  background-image: url("../img/icons/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-i {
  display: block;
  margin-right: 28px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #DCDCDC;
  background-image: url("../img/icons/info-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.delivery-button:focus {
  outline: none;
  border-color: #AF4FFF;
}

.delivery-button:hover {
  background-color: #EBEBEB;
  border-color: white;
}

.delivery-button:hover .delivery-icon,
.delivery-button:active .delivery-icon {
  background-color: #FFC700;
}

.delivery-button:hover .delivery-i {
  opacity: 1;
}

.delivery-button:active {
  opacity: 0.3;
  border-color: white;
}

.modal {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-close {
  display: none;
}

.order-container {
  width: 760px;
  margin: auto;
  background-color: white;
  border: 10px solid black;
  padding: 60px 70px 65px 70px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.order-title {
  padding: 0;
  margin: 0;
}

.order-close {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: none;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.order-close:hover {
  opacity: 0.6;
}

.order-close:focus {
  outline: 5px solid #AF4FFF;
}

.order-close:active {
  outline: none;
  opacity: 0.3;
}

.delivery-form {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 360px 160px 160px;
  gap: 10px 40px;
  grid-auto-flow: row;
  grid-template-areas:
    "delivery-form-name delivery-form-email delivery-form-email"
    "delivery-form-text delivery-form-text delivery-form-amount"
    "delivery-submit delivery-submit delivery-submit";
}

.delivery-form-name {
  grid-area: delivery-form-name;
}

.delivery-form-email {
  grid-area: delivery-form-email;
}

.delivery-form-text {
  grid-area: delivery-form-text;
}

.delivery-form-amount {
  position: relative;
  grid-area: delivery-form-amount;
}

.info {
  position: absolute;
  top: 11px;
  right: 12px;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  margin-top: -13px;
  border: none;
  background: none;
  background-image: url("../img/icons/yellow-tooltip.svg");
  background-repeat: no-repeat;
}

.popover-amount {
  width: 200px;
  height: 160px;
  right: -37px;
  top: 40px;
  box-sizing: border-box;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.popover-amount::before {
  left: 75%;
}

.popover-amount p {
  margin: 0;
  padding: 19px;
}

.info:hover .popover-amount {
  display: block;
}

.delivery-submit {
  width: 200px;
  grid-area: delivery-submit;
  justify-self: start;
  align-self: auto;
  margin-top: 30px;
  padding: 15px 0;
  background-color: white;
}

.delivery-form input {
  box-sizing: border-box;
  height: 60px;
  padding: 20px;
  margin: 0;
  border: none;
  background-color: #F0F0F0;
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

input[name="delivery-name"] {
  background-image: url("../img/icons/user-icon-gray.svg");
  background-repeat: no-repeat;
  background-position: 330px center;
}

input[name="delivery-email"] {
  background-image: url("../img/icons/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: 330px center;
}

.amount-group {
  position: relative;
  grid-template-columns: 50px 60px 50px;
  padding: 0;
  margin: 0;
}

.amount-plus, .amount-minus {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.amount-plus {
  right: 20px;
  background-image: url("../img/icons/plus-icon.svg");
}

.amount-minus {
  left: 20px;
  background-image: url("../img/icons/minus-icon.svg");
}

.amount-plus:hover,
.amount-minus:hover {
  opacity: 1;
}

.amount-plus:focus,
.amount-minus:focus {
  opacity: 1;
  outline: 2px solid #AF4FFF;
}

.amount-plus:active,
.amount-minus:active {
  opacity: 0.1;
  outline: none;
}

.amount-group input {
 width: 100%;
 box-sizing: border-box;
 padding: 5px;
 text-align: center;
}

.amount-group input::-webkit-inner-spin-button,
.amount-group input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  position: relative;
  font-family: "Rubik", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: black;
  margin-bottom: 15px;
}

.prompt {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
}

.prompt-success {
  color: #000000;
}

.prompt-error {
  color: #FF3D3D;
}

.delivery-form input:hover {
  background-color: #EBEBEB;
}

.delivery-form input:focus {
  outline: 5px solid #AF4FFF;
}

.delivery-form input:not(:placeholder-shown) {
  outline: 3px solid #000000;
  background-color: white;
}

.delivery-form-error {
  outline: 3px solid #FF3D3D !important;
  background-color: white;
}

.about-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-company-item {
  width: 560px;
}

.about-company-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 46px;
  padding-top: 50px;
}

.about-company-title::before {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: black;
  top: 0;
}

.about-company-content {
  margin-top: 0;
  margin-bottom: 30px;
}

.about-company-link {
  display: block;
  width: 260px;
  padding: 15px 0;
}

.carriers-list {
  font-weight: bold;
  line-height: 20px;
  color: black;
  padding-top: 45px;
  margin-bottom: 57px;
}
.carrier {
  position: relative;
  margin-bottom: 20px;
  padding-left: 34px;
}

.carrier::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0;
  top: 50%;
  margin-top: -4px;
  border-radius: 50%;
  background: #FFC700;
}

.about-company-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 15px;
}

.about-company-contacts, .footer-contacts {
  font-style: normal;
}

.about-company-contacts {
  margin-bottom: 30px;
}

.address {
  margin: 0;
}

.phone {
  color: inherit;
  text-decoration: underline;
}

.about-company-schedule {
  margin-bottom: 52px;
}

.subscribe {
  padding-top: 80px;
  padding-bottom: 130px;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 57px;
}

.subscribe-title, .subscribe-content {
  width: 560px;
}

.subscribe-title {
  margin: 0;
}

.subscribe-content {
  margin: 0;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-input {
  width: 600px;
  height: 55px;
  box-sizing: border-box;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  background: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-input::placeholder {
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe-input:focus {
  outline: none;
  background-color: #DCDCDC;
}

.subscribe-input:not(:placeholder-shown) {
  border-bottom-color: black;
}

.subscribe-input:not(:placeholder-shown):invalid {
  border-bottom-color: #FF3D3D;
}

.subscribe-input:not(:placeholder-shown):valid {
  border-bottom-color: rgba(0, 0, 0, 1);
}

.subscribe-input:hover {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.subscribe-input:hover::placeholder {
  opacity: 0.7;
}

.subscribe-button {
  width: 260px;
  height: 55px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.subscribe-button:focus {
  outline: none;
  border-color: #AF4FFF;
}

.subscribe-button::before {
  content: none;
}

.subscribe-button:hover {
  background-color: black !important;
  color: white;
}

.subscribe-button:active {
  background-color: black !important;
  color: rgba(255, 255, 255, 0.3);
  border-color: black;
}

.free-note {
  padding-left: 35px;
  margin-left: auto;
  background-image: url("../img/icons/free-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

/* Main page end */
/* Footer start */

.footer {
  background-color: #444444;
  color: #FFF;
  padding-top: 60px;
}

.footer-logo {
  display: block;
  width: 145px;
  margin-bottom: 25px;
}

.footer-contacts {
  font-size: 16px;
}

.footer-address {
  margin: 0;
  width: 260px;
  line-height: 19px;
}

.footer-phone {
  margin: 0;
  width: 260px;
  text-align: right;
}

.phone-link {
  padding: 3px 15px 5px;
  margin-right: -15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
}

.phone-link:focus {
  outline: none;
  border-color: #AF4FFF;
}

.phone-link:hover {
  color:  #FFC700;
}

.phone-link:active {
  color:  #FFC700;
  border-color: transparent;
  opacity: 0.3;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.footer-navigation-item {
  text-align: center;
}

.footer-link {
  position: relative;
  color: #FFF;
  padding: 14px 20px 15px 20px;
  display: block;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
}

.footer-link::before {
  content: "";
  position: absolute;
  left: 20px;
  right: 24px;
  bottom: 7px;
  height: 2px;
  background-color: transparent;
}

.footer-link:focus {
  outline: none;
  border-color: #AF4FFF;
}

.footer-link:hover {
  color: #FFC700;
}

.footer-link:hover::before {
  background-color: #FFC700;
}

.footer-link:active {
  color: #FFC700;
  opacity: 0.3;
  border-color: transparent;
}

.footer-group {
  display: grid;
  grid-template-columns: 260px 640px 260px;
  align-items: center;
  row-gap: 60px;
  margin-bottom: 37px;
}

.footer-end {
  margin-bottom: 51px;
}

.decor-line {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.social-links {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
}

.social-links-item {
  margin-right: 5px;
}

.social-links-item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #444444;
  background-color: rgba(255, 255, 255, 0.7);
}

.social-link svg {
  fill: #464646;
}

.social-link:focus {
  outline: none;
  background-color: transparent;
  border-color: #AF4FFF;
}

.social-link:focus svg {
  fill: white;
}

.social-link:hover {
  background-color: #FFC700;
}

.social-link:active {
  border-color: #444444;
}

.social-link:active svg {
  border-color: #444444;
  opacity: 0.3;
}

.ha-logo {
  display: block;
  padding: 10px;
  margin-right: -10px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
}

.ha-logo svg {
  display: block;
  fill: #FFC700;
}

.ha-logo:focus {
  outline: none;
  border-color: #AF4FFF;
}

.ha-logo:hover svg,
.ha-logo:active svg {
  fill: white;
}

.ha-logo:active {
  opacity: 0.3;
  border-color: transparent;
}

.ha-logo {
  justify-self: end;
}

/* Footer end */
/* Catalog start */

.main-inner {
  padding-top: 40px;
}

.inner-header-title {
  margin-top: 0;
  margin-left: 60px;
  margin-bottom: 20px;
}

.catalog-products {
  display: grid;
  grid-template-columns: 1fr 330px 830px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "filter-title filter-title sort-form sort-form"
    "filter filter products products";
  color: black;
}

.filter-title {
  grid-area: filter-title;
  padding: 25px 0;
  padding-right: 175px;
  background-color: #DCDCDC;
}

.sort-form {
  grid-area: sort-form;
}

.filter {
  grid-area: filter;
  background-color: #EBEBEB;
}

.products {
  grid-area: products;
}

.breadcrumbs {
  display: flex;
  margin-left: 43px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 11px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 50%;
  right: -7px;
  margin-top: -3.5px;
  background-image: url("../img/icons/breadcrumbs-arrow.svg");
}

.breadcrumbs-link {
  padding: 5px 12px 6px;
  border: 5px solid transparent;
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
  border-color: #AF4FFF;
  opacity: 1;
}

.breadcrumbs-link:focus span {
  opacity: 0.6;
}

.breadcrumbs-link:hover {
  opacity: 1;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  border-color: transparent;
}

.products-title {
  margin: 0;
  text-align: right;
}

.catalog-filter {
  width: 200px;
  padding: 70px 70px 0 60px;
  margin-left: auto;
}

.filter-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 32px;
}

.filter-group {
  border-top: 2px solid black;
  padding-top: 12px;
}

.catalog-filter-title {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 36px;
}

.color-title, .bluetooth-title {
  margin-bottom: 22px;
}

.catalog-filter .button {
  display: block;
  width: 100%;
  padding: 5px 0;
}

.range-scale {
  position: relative;
  margin-bottom: 15px;
  background-color: #DCDCDC;
  height: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: black;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  background: #EBEBEB;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: blanchedalmond;
}

.range-toggle:focus {
  border-color: #AF4FFF;
}

.range-toggle:active {
  opacity: 1;
  background-color: black;
  border-color: black;
}

.toggle-min {
  top: -7px;
  left: 0;
}

.toggle-max {
  top: -7px;
  right: 0;
}

.range-inputs {
  display: flex;
  justify-content: start;
}

.filter-label {
  display: flex;
  width: 100px;
  font-size: 15px;
  line-height: 17px;
}

.filter-label span {
  opacity: 0.3;
}

.filter-input {
  width: 70px;
  padding: 0 2px;
  margin: 0;
  opacity: 0.3;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.filter-input::-webkit-inner-spin-button,
.filter-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.filter-input:focus {
  outline: none;
  color: #AF4FFF;
  opacity: 1;
}

.filter-input:active {
  color: black;
  opacity: 1;
}

.control {
  cursor: pointer;
  position: relative;
  display: block;
  padding-left: 37px;
  margin-bottom: 10px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.control-mark svg {
  margin: auto;
  fill: transparent;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  opacity: 1;
}

.control-input[type="checkbox"]:checked + .control-mark svg {
  fill: black;
}

.control-input[type="radio"]:checked + .control-mark {
  opacity: 1;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}

.control-input:checked:hover + .control-mark {
  opacity: 0.5;
}

.control-input:focus + .control-mark {
  outline: none;
  border-color: #AF4FFF;
}

.control-input:focus ~ .control-label {
  color: #AF4FFF;
}

.control-input:checked:focus + .control-mark svg {
  fill: #AF4FFF;
}

.control-input[type="radio"]:checked:focus + .control-mark::before {
  background-color: #AF4FFF;
}

.control-input:checked:active + .control-mark {
  opacity: 0.2;
}

.products-sort {
  width: 830px;
  padding-left: 70px;
  padding-top: 70px;
}

.products-title, .more-products, .pagination-link {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-type {
  display: flex;
  align-items: center;
  padding: 25px 0;
  padding-left: 70px;
  background-color: #EBEBEB;
}

.sorting-title {
  margin-right: 50px;
}

.select-control {
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: #EBEBEB;
  margin-right: 338px;
}

.sorting-direction {
  display: flex;
}

.direction-btn {
  display: block;
  width: 11px;
  height: 10px;
  padding: 0;
  margin: 0;
  border: none;
}

.sorting-up {
  background-image: url("../img/icons/sort-up-icon.svg");
  margin-right: 20px;
}

.sorting-down {
  background-image: url("../img/icons/sort-down-icon.svg");
}

.sorting-disabled {
  opacity: 0.2;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  margin-bottom: 45px;
}

.product-card {
  position: relative;
}

.card-link {
  display: grid;
  grid-template-columns: 280px 80px;
  grid-template-rows: 380px auto;
  row-gap: 35px;
}

.card-title {
  grid-column: 1 / 2;
  align-self: start;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.card-price {
  display: block;
  margin-right: 5px;
  align-self: start;
  grid-column: 2 / 3;
  line-height: 21px;
  color: #444444;
  text-align: right;
}

.card-image {
  object-fit: cover;
  border: 5px solid transparent;
  box-sizing: border-box;
}

.card-image, .card-button {
  display: block;
  padding: 0;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.card-button {
  width: 180px;
  padding: 9px 10px 11px;
  align-self: center;
  justify-self: center;
  opacity: 0;
  z-index: 1;
}

.card-button::before {
  background-color: #FFC700;
}

.card-button:hover,
.card-button:active {
  background-color: #FFC700 !important;
}

.new-note {
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icons/new-note-icon.svg");
}

.card-link:focus {
  outline: none;
}

.card-link:focus .card-image {
  border-color: #AF4FFF;
}

.card-link:focus .card-title,
.card-link:focus .card-price {
  color: #AF4FFF;
}

.card-link:hover .card-button {
  opacity: 1;
}

.card-link:hover .card-image {
  opacity: 0.8;
}

.card-link:active .card-image {
  border-color: transparent;
}

.card-link:active .card-title,
.card-link:active .card-price {
  color: black;
}

.more-products {
  width: 760px;
  height: 55px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: none;
  margin-bottom: 50px;
}

.more-products:focus {
  outline: none;
  border: 5px solid #AF4FFF;
}

.more-products:hover {
  border-color: black;
}

.more-products:active {
  border: 3px solid black;
  opacity: 0.3;
}

.pagination {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 70px;
  background-color: #EBEBEB;
}

.pagination-group {
  display: flex;
}

.pagination-link {
  display: block;
  color: #444444;
  border: 5px solid transparent;
  box-sizing: border-box;
}

.pagination-link .page-num {
  opacity: 0.3;
}

.pagination-group .pagination-link {
  padding: 15px;
}

.pagination-prev, .pagination-next {
  display: block;
  padding: 25px;
  color: black;
  opacity: 1;
  background-color: #F0F0F0;
}

.pagination-prev {
  margin-left: auto;
}

.pagination-next {
  margin-right: auto;
}

.pagination-link:focus {
  outline: none;
  border-color: #AF4FFF;
}

.pagination-link:hover .page-num {
  opacity: 1;
}

.pagination-link:active {
  border-color: transparent;
}

.pagination-link:active .page-num {
  opacity: 0.1;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #DCDCDC;
}

.pagination-prev:active,
.pagination-next:active {
  border-color: transparent;
  background-color: #DCDCDC;
  opacity: 0.3;
}


/* Catalog end */

