@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFF;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: black;
  background-color: #FFE17F;
  border: none;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.section-title {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: black;
}

/* Header start */

.main-header {
  padding-top: 40px;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: #FFE17F;
  color: black;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 29px;
  font-size: 16px;
  line-height: 19px;
}

.navigation-user-item {
  padding-left: 25px;
}

.navigation-user-item:nth-child(3) {
  margin-left: auto;
  margin-right: 40px;
}

.navigation-search {
  margin-right: auto;
  padding-left: 0;
}

.search-input {
  width: 300px;
  background: none;
  border: none;
  margin-left: 36px;
}

.search-input::placeholder {
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  opacity: 0.3;
}

.logout {
  visibility: hidden;
}

.navigation-logo {
  display: block;
  width: 145px;
  margin-left: 60px;
}

.navigation-list, .navigation-user {
  padding: 0 60px;
}

.navigation-list, .footer-navigation {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-list-main {
  padding-bottom: 150px;
}

.navigation-list-inner {
  padding-bottom: 40px;
}

.inner-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 500px;
}

.navigation-list-item:nth-child(3n) {
  max-width: 200px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 15px 0;
  margin-right: 20px;
}

.navigation-list-item:nth-child(3n) .navigation-link {
  margin-right: 0;
}

.catalog-link {
  padding-right: 70px;
  margin-right: 0;
}

/* Header end */
/* Main page start */

.slide {
  display: flex;
  justify-content: space-between;
}

.slide-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.slide-content {
  margin-top: 0;
  margin-bottom: 30px;
}

.slide-link {
  display: block;
  width: 220px;
  margin-bottom: 70px;
}

.slide-gallery {
  width: 560px;
}

.slide-description {
  width: 560px;
}

.slide-number {
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  color: #fff;
}

.slide-features {
  display: flex;
}

.slide-feature {
  margin-right: 40px;
}

.feature-value b {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: black;
}

.feature-value {
  margin-top: 0;
  margin-bottom: 0;
}

.feature-title {
  font-size: 16px;
  margin: 0;
}

.slider-pagination {
  list-style-type: none;
  display: flex;
}

.slider-pagination-item {
  margin-right: 22px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.pagination-button {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0;
  background-color: white;
}

.pagination-current {
  background-color: black;
}

.categories {
  margin-bottom: 70px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories-list-item {
  width: 160px;
}

.categories-link {
 font-family: "Raleway", Helvetica, sans-serif;
 font-weight: 800;
 font-size: 18px;
 line-height: 24px;
 letter-spacing: -0.02em;
}

.category-icon {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
}

.vr {
  background-image: url("../img/categories-img/category-vr.svg");
}

.monopod {
  background-image: url("../img/categories-img/category-monopod.svg");
}

.camera {
  background-image: url("../img/categories-img/category-camera.svg");
}

.fitness {
  background-image: url("../img/categories-img/category-fitness.svg");
}

.smart-watch {
  background-image: url("../img/categories-img/category-smart-watch.svg");
}

.quadcopter {
  background-image: url("../img/categories-img/category-quadcopter.svg");
}

.services, .subscribe {
  background-color: #F0F0F0;
}

.services-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.services-pagination {
  width: 290px;
  border-right: 7px solid black;
}

.services-pagination-item {
  width: 100%;
  text-align: start;
  padding: 10px 0;
}

.services-button {
  width: 160px;
  text-align: center;
  padding: 0;
}

.services-pagination-current {
  background-color: black;
  color: #FFE17F;
}

.services-pagination-current .button {
  background-color: black;
  color: #FFE17F;
}

.services-items {
  width: 760px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 15px;
}

.services-content {
  width: 500px;
  margin: 0;
}

.delivery {
  margin-bottom: 100px;
}

.delivery-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 23px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: #F0F0F0;
}

.delivery-icon {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  background-image: url("../img/icons/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-i {
  display: block;
  margin-right: 33px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../img/icons/info-icon.svg");
}

.about-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.about-company-item {
  width: 560px;
}

.about-company-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.about-company-content {
  margin-top: 0;
  margin-bottom: 40px;
}

.carriers-list {
  font-weight: bold;
  line-height: 20px;
  color: black;
  padding-top: 35px;
  margin-bottom: 50px;
}
.carrier {
  margin-bottom: 20px;
}

.about-company-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 15px;
}

.about-company-contacts, .footer-contacts {
  font-style: normal;
}

.about-company-contacts {
  margin-bottom: 30px;
}

.address {
  margin: 0;
}

.phone {
  color: inherit;
  text-decoration: underline;
}

.about-company-schedule {
  margin-bottom: 45px;
}

.subscribe {
  padding-top: 75px;
  padding-bottom: 130px;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.subscribe-title, .subscribe-content {
  width: 560px;
}

.subscribe-title {
  margin: 0;
}

.subscribe-content {
  margin: 0;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-input {
  width: 600px;
  height: 55px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.subscribe-input::placeholder {
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe-button {
  width: 260px;
  height: 55px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.free-note {
  margin-left: auto;
}

/* Main page end */
/* Footer start */

.footer {
  background-color: #444444;
  color: #FFF;
  padding-top: 60px;
}

.footer-logo {
  display: block;
  width: 145px;
  margin-bottom: 35px;
}

.footer-contacts {
  font-size: 16px;
}

.footer-address {
  margin: 0;
  width: 260px;
  line-height: 19px;
}

.footer-phone {
  margin: 0;
  width: 260px;
  text-align: right;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.footer-navigation-item {
  width: 148px;
  text-align: center;
}

.footer-link {
  color: #FFF;
}

.footer-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.decor-line {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
}

.social-links-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.social-links-item:last-child {
  margin-right: 0;
}

/* Footer end */
/* Catalog start */

.main-inner {
  padding-top: 40px;
}

.inner-header-title {
  margin-top: 0;
  margin-left: 60px;
  margin-bottom: 15px;
}

.catalog-products {
  display: flex;
  color: black;
}

.breadcrumbs {
  display: flex;
  margin-left: 60px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-item {
  margin-right: 35px;
}

.breadcrumbs-item:last-child {
  margin-right: 0px;
}

.products-filter {
  width: 330px;
  padding: 0 70px 0 60px;
  background-color: #EBEBEB;
}

.filter-title {
  margin-top: 0;
  padding: 25px 0;
  background-color: #DCDCDC;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.products-sort {
  width: 830px;
  padding-left: 70px;
}

.products-title, .more-products, .pagination-link {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.sorting-type {
  display: flex;
  padding: 25px 0;
}

.sorting-title {
  margin-right: 50px;
}

.select-control {
  font-size: 16px;
  line-height: 19px;
  border: none;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.product-card {
  width: 360px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.card-price {
  line-height: 21px;
  color: #444444;
  text-align: right;
}

.more-products {
  width: 760px;
  height: 55px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: none;
  margin-bottom: 50px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 80px;
  background-color: #EBEBEB;
}

.pagination-group {
  display: flex;
}

.pagination-link {
  color: #444444;
  opacity: 0.3;
}

.pagination-group .pagination-link {
  padding: 15px;
}

.pagination-prev, .pagination-next {
  display: block;
  width: 80px;
  padding: 25px 0;
  color: black;
  opacity: 1;
}

.pagination-prev {
  margin-left: auto;
}

.pagination-next {
  margin-right: auto;
}

/* Catalog end */

